<h2>Them san pham</h2>
<form [formGroup]="productForm" (ngSubmit)="onHandleSubmit()">
  <div class="form-group mb-3">
    <label class="form-label" for="name">Ten san pham</label>
    <input
      type="text"
      class="form-control"
      placeholder="ten"
      formControlName="name"
    />
    <div
      *ngIf="
        productForm.get('name').invalid &&
        (productForm.get('name').dirty || productForm.get('name').touched)
      "
    >
      <div
        class="alert alert-danger"
        *ngIf="productForm.get('name').errors.required"
      >
        Bắt buộc nhập
      </div>
      <div *ngIf="productForm.get('name').errors.minlength">
        Ít nhất 3 ký tự
      </div>
    </div>
  </div>

  <div class="form-group mb-3">
    <label class="form-label" for="imageUrl">Anh san pham</label>
    <input
      type="text"
      class="form-control"
      id="imageUrl"
      placeholder="anh"
      formControlName="imageUrl"
    />
  </div>

  <div class="form-group mb-3">
    <label class="form-label" for="price">Gia san pham</label>
    <input
      type="number"
      class="form-control"
      placeholder="gia"
      formControlName="price"
    />
    <div
      *ngIf="
        productForm.get('price').invalid &&
        (productForm.get('price').dirty || productForm.get('price').touched)
      "
    >
      <div
        class="alert alert-danger"
        *ngIf="productForm.get('price').errors.required"
      >
        Bắt buộc nhập
      </div>
    </div>
  </div>

  <div class="form-group mb-3">
    <label class="form-label" for="name">Tinh trang</label>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        formControlName="in_stock"
        value="true"
      />
      <label class="form-check-label" for="flexRadioDefault1">Con hang</label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        formControlName="in_stock"
        value="false"
      />
      <label class="form-check-label" for="flexRadioDefault2">Het hang</label>
    </div>
  </div>

  <div class="form-group mb-3">
    <label class="form-label" for="name">Mo ta</label>
    <textarea
      formControlName="description"
      id="description"
      class="form-control"
    ></textarea>
  </div>

  <div class="form-group mb-3">
    <label class="form-label" for="name">Hien thi</label>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        formControlName="published"
        value="true"
      />
      <label class="form-check-label" for="published">Bat</label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        formControlName="published"
        value="false"
      />
      <label class="form-check-label" for="UnPublished">Tat</label>
    </div>
    <div class="mb-3">
      <button class="btn btn-primary" type="submit">Them san pham</button>
    </div>
  </div>
</form>
