<div>
  <h2>Đăng ký</h2>
  <form [formGroup]="signupForm" (ngSubmit)="onHandleSubmit()">
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username" />
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" />
    </div>
    <div>
      <button htmlType="submit">Đăng ký</button>
    </div>
  </form>
</div>
